body {
    background: url('https://i2.nicepik.com/files/489/251/700/background-eco-fur-minimalism.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}